@model IEnumerable<AutoHubFYP.Models.TblShippingPolicy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-theme">
                <h4 class="card-title text-white">ShippingPolicy</h4>
                <button type="button" class="btn bg-white" id="CreateUser">

                    <a asp-action="Create" class="text-theme" style="color:#fff">Create New</a>
                </button>

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLifeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStatsDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLifeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyStatsDate)
            </td>
            <td style="display:flex;margin-inline:0px !important ">
                <a asp-action="Edit" class="btn btn-square btn-primary" asp-route-id="@item.ShipingId"><i class="fa fa-edit"></i></a> 
                
                <a asp-action="Delete" class="btn btn-square btn-danger" asp-route-id="@item.ShipingId"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
